@model ProjectIndexViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

@{
    var currentUserId = _userManager.GetUserId(User);
}

<a asp-action="CreateProject" class="btn btn-primary mb-3">Create new Project</a>
@* ändra så att under my projects kommer mina ägna projekt först och därefter projekt som jag deltar i @
@--------------------------------------------------------ändring------------------------------------------------------------------------- *@
<h3>My projects</h3>
@if (Model.MyProjects.Any())
{
    @foreach (var project in Model.MyProjects)
    {
        var usersInProject = project.ProjectUsers.Where(pu => pu.ProjId == project.Pid).Select(pu => pu.User).ToList();
        var activeUsers = usersInProject.Where(u => !u.IsDeactivated).ToList();
        var relation = project.ProjectUsers.First(pu => pu.UserId == currentUserId);
        var owner = project.ProjectUsers.FirstOrDefault(pu => pu.IsOwner);

        <div class="min-vh-80 read-banner">
            <div class="row">
                <div class="col-12 text-center">
                    <p><strong>Title : </strong>@project.Title</p>
                </div>
                @if (owner != null)
                {
                    <div class="col-12">
                        <p><strong>Owner : </strong>@owner.User.FirstName @owner.User.LastName</p>
                    </div>
                }
                <div class="col-12">
                    <p><strong>Project description : </strong>@project.Description</p>
                </div>
                <div class="col-12">
                    <span><strong>Started : </strong>@project.StartDate.ToShortDateString()</span>
                    <span><strong>Published : </strong>@project.PublishDate.ToShortDateString()</span>
                    <span>
                        <strong>Status : </strong>
                        @(project.Enddate == null ? "Ongoing project" : $"Ended: {project.Enddate:yyyy-mm-dd}")
                    </span>
                </div>
                <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">
                    <p class ="mb-0">
                        @if (activeUsers.Count > 0)
                        {
                            <strong>Participants : </strong>
                            @for (int i = 0; i < activeUsers.Count; i++)
                            {
                                @activeUsers[i].FirstName @activeUsers[i].LastName
                                @if (i < activeUsers.Count - 1)
                                {
                                    <span>, </span>
                                }
                            }
                        }
                    </p>
                    @if (relation.IsOwner)
                    {
                        <a asp-action="UpdateProject" asp-route-id="@project.Pid" class="btn btn-primary"><i class="fa-solid fa-pencil"></i>Update a project</a>
                    }
                    else
                    {
                        <button class="btn btn-info">Participant</button>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <p>You don´t own any projects.</p>
}

<h3>Other projects</h3>

@if (Model.OtherProjects.Any())
{
    @foreach (var project in Model.OtherProjects)
    {
        var usersInProject = project.ProjectUsers.Where(pu => pu.ProjId == project.Pid).Select(pu => pu.User).ToList();
        var activeUsers = usersInProject.Where(u => !u.IsDeactivated).ToList();
        var isUserInProject = project.ProjectUsers.Any(pu => pu.UserId == currentUserId);
        var owner = project.ProjectUsers.FirstOrDefault(pu => pu.IsOwner);
        @if(owner == null || owner.User.IsDeactivated)
        {
            continue;
        }
        <div class="min-vh-80 read-banner">

            <div class="row">
                <div class="col-12 text-center">
                    <p><strong>Title : </strong>@project.Title</p>
                </div>
                @if (owner != null)
                {
                    <div class="col-12">
                        <p><strong>Owner : </strong>@owner.User.FirstName @owner.User.LastName</p>
                    </div>
                }
                <div class="col-12">
                    <p><strong>Project description : </strong>@project.Description</p>
                </div>
                <div class="col-12">
                    <span><strong>Started : </strong>@project.StartDate.ToShortDateString()</span>
                    <span><strong>Published : </strong>@project.PublishDate.ToShortDateString()</span>
                    <span>
                        <strong>Status : </strong>
                        @(project.Enddate == null ? "Ongoing project" : $"Ended: {project.Enddate:yyyy-mm-dd}")
                    </span>
                </div>
                <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0">
                        @if (activeUsers.Count > 0)
                        {
                            <strong>Participants : </strong>
                            @for (int i = 0; i < activeUsers.Count; i++)
                            {
                                @activeUsers[i].FirstName @activeUsers[i].LastName
                                @if (i < activeUsers.Count - 1)
                                {
                                    <span>, </span>
                                }
                            }
                        }
                    </p>
                    @if (!isUserInProject)
                    {
                        <form method="post" asp-controller="Project" asp-action="ProjectDetails" asp-route-PUId="@owner!.PUId">
                            <button class="btn btn-primary">Join project!</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-info">Already joined</button>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No other projects available.</p>
}