@model User

<div class="d-flex justify-content-center align-items-center min-vh-90">
    <div class="col-md-6 col-lg-4">

        <h3 class="text-center mb-4">Welcome back @Model.UserName</h3>

        <h5>Personal information</h5>

        <div class="mb-3">
            <label asp-for="UserName" class="form-label"><b>User name: </b>@Model.UserName</label>
        </div>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"><b>First name: </b>@Model.FirstName</label>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"><b>Last name: </b>@Model.LastName</label>
        </div>

        <label class="form-label">Contact information</label>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"><b>Email: </b>@Model.Email</label>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"><b>Phone number: </b>@Model.PhoneNumber</label>
        </div>

        <div class="mb-3">
            <h5>Address information</h5>
            @if (Model.OneAddress != null)
            {
                <label asp-for="OneAddress.Country" class="form-label"><b>Country: </b>@Model.OneAddress.Country</label>
                <label asp-for="OneAddress.City" class="form-label"><b>City: </b>@Model.OneAddress.City</label>
                <label asp-for="OneAddress.Street" class="form-label"><b>Street: </b>@Model.OneAddress.Street</label>
            }
            else
            {
                <p class="text-muted fst-italic">No address registered</p>
            }
        </div>

        <div>
            <a asp-action="UpdateUser" asp-route-id="@Model.Id" class="btn btn-primary">Edit personal information</a>
        </div>
    </div>
</div>