@model User

<div class="d-flex justify-content-center align-items-center min-vh-90">
    <div class="col-md-6 col-lg-4">

        <h3 class="text-center mb-4">Welcome back @Model.UserName</h3>

        <h5>Personal information</h5>

        <div class="mb-3">
            <label asp-for="@Model.UserName" class="form-label"><b>User name: </b></label>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.FirstName" class="form-label"><b>First name: </b></label>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.LastName" class="form-label"><b>Last name: </b></label>
        </div>

        <label class="form-label">Contact information</label>

        <div class="mb-3">
            <label asp-for="@Model.Email" class="form-label"><b>Email: </b></label>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.PhoneNumber" class="form-label"><b>Phone number: </b></label>
        </div>

        <div class="mb-3">
            <h5>Address information</h5>
            @if (Model.OneAddress != null)
            {
                <label asp-for="@Model.OneAddress.Country" class="form-label"><b>Country: </b></label>
                <label asp-for="@Model.OneAddress.City" class="form-label"><b>City: </b></label>
                <label asp-for="@Model.OneAddress.Street" class="form-label"><b>Street: </b></label>
            }
            else
            {
                <p class="text-muted fst-italic">No address registered</p>
            }
        </div>

        <div>
            <a asp-action="UpdateUser" asp-route-id="@Model.Id" class="btn btn-primary">Edit personal information</a>
        </div>
    </div>
</div>