@model User
<a asp-controller="Account" asp-action="Login">Logg in</a>
<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
        <a asp-controller="Project" asp-action="GetProject">Get all projects</a>
        <h2>Denna kod här syns för dig som är inloggat @User.Identity.Name</h2>
        <a asp-controller="Account" asp-action="Logout" class="btn-link">Logout</a>
    </Authorized>
</AuthorizeView>
</form>

<h2>@ViewBag.Headline</h2>
<table>
    <tbody>
        @ViewBag.Cvn.Count
        @foreach (var cv in ViewBag.Cvn)
        {
            <tr>
                <td>@cv.OneUser.UserName</td>
                <td>@cv.Experiences</td>
                <td>
                    @foreach(var exp in cv.Experiences)
                    {
                        @exp.Title
                    }
                    
                </td>
                <td>@cv.</td>
                <td>
                    @foreach(var proj in cv.CvProjects)
                    {
                        @proj.OneProject.Title
                    }
                </td>
                <td>
                    @cv.Education.Univeristy
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Cv" asp-action="CreateCv">Create Cv</a>

