@model IEnumerable<User>

<div class="container">
    <div>
        <label>Your name: </label>
        <input type="text" id="display-name" />
    </div>
    <div>
        <input type="text" id="message"/>
        <input type="button" id="send-message" value="send" />
    </div>
    <div>
        <ul id="discussion"></ul>
    </div>
</div>

<script type="module">
    import * as signalR from "https://cdn.jsdelivr.net/npm/@@microsoft/signalr@9.0.6/+esm";

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    document.getElementById("send-message").addEventListener("click", function (event) {
        const user = document.getElementById("display-name").value;
        const message = document.getElementById("message").value;

        connection.invoke("SendMessage", user, message)
            .catch(err => console.error(err.toString()));

        event.preventDefault();
    });

    connection.on("RecieveMessage", function (user, message) {
        const li = document.createElement("li");
        li.textContent = user + ": " + message;
        document.getElementById("discussion").appendChild(li);
    });
</script>


@* <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@9.0.6/+esm"></script>

<script>
    var connection = new SignalR.HubConnectionBuilder().withUrl("/chat").Build();

    //fånga errors till för att se i console
    connection.start().catch(function (err){
        return console.error(err.toString());
    });
    //eventlyssnare på sendmessage knappen hämtar info om vilken user som connectas till hub det och meddelandet, SendMessage() anropas i ChatHub modeln
    document.getElementById("send-message").addEventListener("click", function (event) {
        var user = document.getElementById("display-name").value;
        var message = document.getElementById("message").value;


        connection.invoke("Send-Message", user, message).catch(function (err) {
            return console.error(err.toString());
        });

        event.preventDefault();

    });

    connection.on("RecieveMessage", function (user){
        var messageWithSender = user + ": " + message;
        var listItem = document.createElement("li");

        listItem.textContent = messageWithSender;
        document.getElementById("discussion").appendChild(listItem); //hämta sista listItem i discussion

    });
</script> *@






<form asp-action="Search" asp-controller="Search" method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search by name..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
            <h2>Welcome @User.Identity!.Name</h2>

            @if (ViewBag.HasCv)//Visa rätt knappar beroende på om man har ett cv eller inte
            {
                <a asp-controller="Cv" asp-action="UpdateCv">Update My Cv</a>
                <a asp-controller="Project" asp-action="CreateProject">Create a project</a>
            }
            else
            {
                <a asp-controller="Cv" asp-action="CreateCv">Create cv</a>    
            }
            @if(User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a> <br>
            }
            </Authorized>
</AuthorizeView>
</form>

<h2>@ViewBag.CvIndexHeadline</h2>
<div class="d-flex gap-4 flex-wrap">
    @if(ViewBag.CvsExists == true)
    {
        @foreach (var user in Model)
        {
            @if(user.OneCv != null)
            {
                <div class="d-flex align-items-center gap-3 p-3 cv-container flex-wrap">
                    <div class="flex-grow-0">
                        <img src="@user.OneCv.ImageFilePath" />
                    </div>
                    <div class="flex-grow-1">
                        <p class="mb-2"><b>@user.FirstName @user.LastName</b></p>
                        <i class="mb-2">@(user.OneCv.ReadCount + " Reads")</i>
                    </div>
                    <div class="flex-grow-0 d-flex flex-column gap-2">
                        <a asp-controller="Cv" asp-action="ReadCv" asp-route-cid="@user.OneCv.Cid" class="btn btn-outline-primary btn-sm"><i class="fa-regular fa-address-card me-1"></i>See Cv</a>
                        <a asp-controller="Account" asp-action="SendMessage" class="btn btn-outline-secondary btn-sm"><i class="fa-regular fa-message me-1"></i>Send Message</a>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>No cvs was found</p>
    }


    @* @foreach(var item in Model)
    { *@
@*         @if(item?.OneCv != null)
                {

                    <div class="d-flex align-items-center gap-3 p-3 cv-container flex-wrap">

                        <div class="flex-grow-0">
                            <img src="@item.OneCv.ImageFilePath" alt="Profile Image" />
                        </div>

                        <div class="flex-grow-1">
                            <b class="d-block text-truncate">@item.FirstName @item.LastName - @item.OneCv.ReadCount Reads</b>
                            @(item.OneCv.Education.Univeristy! ?? @item.OneCv.Education.HighSchool! ?? "")
                        </div>




                            <div class="flex-grow-0 d-flex flex-column gap-2">
                                <a asp-controller="Cv" asp-action="ReadCv" asp-route-cid="@item.OneCv.Cid" class="btn btn-outline-primary btn-sm">
                                    <i class="fa-regular fa-address-card me-1"></i>
                                    See profile
                                </a>
                                <a class="btn btn-outline-secondary btn-sm">
                                    <i class="fa-regular fa-message me-1"></i>
                                    Send message
                                </a>
                            </div>

                    </div>


                }
        @if(item?.OneCv != null)
                {

                    <div class="d-flex align-items-center gap-3 p-3 cv-container flex-wrap">

                        <div class="flex-grow-0">
                            <img src="@item.OneCv.ImageFilePath" alt="Profile Image" />
                        </div>

                        <div class="flex-grow-1">
                            <b class="d-block text-truncate">@item.FirstName @item.LastName - @item.OneCv.ReadCount Reads</b>
                            @("Education:" + item.OneCv.Education.Univeristy! ?? @item.OneCv.Education.HighSchool! ?? "")
                        </div>




                            <div class="flex-grow-0 d-flex flex-column gap-2">
                                <a asp-controller="Cv" asp-action="ReadCv" asp-route-cid="@item.OneCv.Cid" class="btn btn-outline-primary btn-sm">
                                    <i class="fa-regular fa-address-card me-1"></i>
                                    See profile
                                </a>
                                <a class="btn btn-outline-secondary btn-sm">
                                    <i class="fa-regular fa-message me-1"></i>
                                    Send message
                                </a>
                            </div>

                    </div>


                }*@
    @* }  *@
</div>
@* <table class="table table-dark">
    <thead>
        <tr>
            <td>Name</td>
            <td>Read Count</td>
            <td>Buttons</td>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach(var item in Model)
            {
                @if(item.OneCv != null)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.OneCv.ReadCount</td>
                        <td>
                            <a asp-controller="Cv" asp-Action="ReadCv" asp-route-Cid="@item.OneCv.Cid">See Cv</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@* <form asp-action="Search" asp-controller="Search" method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search by name..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
            <h2>Welcome @User.Identity.Name</h2>
            <a asp-controller="Cv" asp-action="CreateCv">Create cv</a>
            <a asp-controller="Project" asp-action="CreateProject">Create a project</a>
            <a asp-controller="Account" asp-action="Logout" class="btn-link">Logout</a>
    </Authorized>
</AuthorizeView>
</form> *@