@model IEnumerable<User>

<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
            <h2>Welcome @User.Identity.Name</h2>
            <a asp-controller="Cv" asp-action="CreateCv">Create cv</a>
            <a asp-controller="Cv" asp-action="UpdateCv">Update My Cv</a>
            <a asp-controller="Project" asp-action="CreateProject">Create a project</a>
            <a asp-controller="Account" asp-action="Logout" class="btn-link">Logout</a>
    </Authorized>
</AuthorizeView>
</form>

<a asp-controller="Cv" asp-action="ReadCv">My Cv</a>
<h2>@ViewBag.CvIndexHeadline</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <td>Name</td>
            <td>Read Count</td>
            <td>Buttons</td>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach(var item in Model)
            {
                @if(item.OneCv != null)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.OneCv.ReadCount</td>
                        <td>
                            <a asp-controller="Cv" asp-Action="ReadCv" asp-route-Cid="@item.OneCv.Cid">See Cv</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

