@model CVBuddy.Models.CVInfo.CvVM

@* @if (!ViewData.ModelState.IsValid)
{
    <h4 class="text-danger">You need to make some changes:</h4>
    <ul class="text-danger">
        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>
                @err.ErrorMessage
            </li>
        }
    </ul>
} *@

<h2>Update your Cv</h2>
<img src="@Model.ImageFilePath" alt="Profile Image" />
<h3>Upload your image</h3>
>

<form method="post" asp-action="UpdateImage" enctype="multipart/form-data">
    <div>
        <label>Update Cv Image</label><span asp-validation-for="ImageFile" class="text-danger"></span>
        <input asp-for="ImageFile" type="file" accept="image/*" class="form-control img-file-picker" />
    </div>
    <button type="submit" asp-action="UpdateImage" class="d-block btn btn-primary">Update Image</button>
</form>


<h2>Edit Certificate</h2> <a asp-action="AddCertificate" class="btn btn-primary">Add Certificate</a>
<div>
    @foreach (var certificate in Model.Certificates)
    {
        <div class="mb-2 content-item">
            <p class="mb-0">Certificate: @certificate.CertName</p>
            <div class="d-flex">
                <a asp-action="UpdateCertificate" class="btn btn-primary">Update Certificate</a>
                <a asp-action="DeleteCertificate" class="btn btn-primary">Delete Certificate</a>
            </div>
        </div>
    }
</div>

<h2>Edit Skills</h2> <a asp-action="AddSkill" class="btn btn-primary">Add Skill</a>

<div class="d-flex">
    @foreach (var skill in Model.Skills)
    {
        <div class="mb-2 content-item">
            <p class="mb-0">Skill: @skill.ASkill</p>
            <p class="mb-0">Description of skill: @(skill.Description ?? "")</p>
            <p class="mb-0">Skill since: @(skill.Date?.ToShortDateString() ?? "Unspecified")</p>
        </div>
    }
</div>

<a asp-action="UpdateCertificate" class="btn btn-primary">Update Certificate</a>

<a asp-action="UpdateSkill" class="btn btn-primary">Update Skill</a>

<a asp-action="UpdateExperience" class="btn btn-primary">Update Experience</a>

<a asp-action="UpdateEducation" class="btn btn-primary">Update Education</a>

<a asp-action="UpdatePersonalCharacteristic" class="btn btn-primary">Update Personal Characteristic</a>

<a asp-action="UpdateInterest" class="btn btn-primary">Update Interest</a>



