@model CVBuddy.Models.CVInfo.Cv

<h1>@ViewBag.Headline</h1>

<form method="post" asp-action="CreateCv" enctype="multipart/form-data">

    <h3>@ViewBag.EducationHLine</h3>                                                        @*Education*@

    <p class="mb-1 mt-3"><b>High School</b> - Can be left empty</p>
    <div class="mb-2">
        <p class="mb-0">Enter what high school you when to.</p>
        <input type="text" asp-for="@Model.Education.HighSchool" class="border-primary" />
    </div>
    <div class="mb-2">
        <p class="mb-0">Enter what high school you studied.</p>
        <input type="text" asp-for="@Model.Education.HSProgram" class="border-primary" />
    </div>
    <div class="mb-2">
        <p class="mb-0">Enter a the starting and ending date of you high school attendance(ex: YY-MM-DD to YY-MM-DD)</p>
        <input type="text" asp-for="@Model.Education.HSDate" class="border-primary" />
    </div>

    <p class="mb-1 mt-3"><b>University</b> - Can be left empty</p>

    <div class="mb-2">
        <p class="mb-0">Enter what university you went to.</p>
        <input type="text" asp-for="@Model.Education.Univeristy" class="border-primary" />
    </div class="mb-2">
    <div>
        <p class="mb-0">Enter what program you studied in university</p>
        <input type="text" asp-for="@Model.Education.UniProgram" class="border-primary" />
    </div>
    <div class="mb-2">
        <p class="mb-0">Enter a the starting and ending date of you university attendance(ex: YY-MM-DD to YY-MM-DD)</p><br>
        <input type="text" asp-for="@Model.Education.UniDate" class="border-primary" />
    </div>


    




    <h3>@ViewBag.SkillsHLine</h3>                                                       @*Skills*@
    <div id="Skill-Container">
        @for (int i = 0; i < @Model.Skills.Count; i++)
        {
            <p class="mb-0">Enter a skill</p>

            <p class="mb-0">Enter title for skill</p>
            <input type="text" name="TitleList[@i]" value="@Model.Skills[i].ASkill" class="border-primary Multi-Skill" />
            
            <p class="mb-0">Enter description for skill</p>
            <input type="text" name="Description" value="@Model.Skills[i].Description" class="border-primary Multi-Skill" />
            
            <p class="mb-0">Enter date for skill</p>
            <input type="text" name="Date" value="@Model.Skills[i].Date" class="border-primary Multi-Skill" />

        }
    </div>
    <button type="button" onclick="addSkill()">Add Skill</button>


                                                                                      @*Experiences*@
    <h3>@ViewBag.ExperiencesHLine</h3> 
    <div id="Experience-Container">

        @for (int i = 0; i < @Model.Experiences.Count; i++)
        {

            <p class="mb-0">Enter title for working experience</p>
            <input type="text" name="Experiences[@i]" value="@Model.Experiences[i].Title" class="border-primary Multi-Experience"/>
            
            <p class="mb-0">Give a short description of the working experience</p>
            <input type="text" name="Experiences[@i]" value="@Model.Experiences[i].Description" class="border-primary Multi-Experience"/>
            
            <p class="mb-0">What company was this working experience at?</p>
            <input type="text" name="Experiences[@i]" value="@Model.Experiences[i].Company" class="border-primary Multi-Experience"/>
            
            <p class="mb-0">Enter a the starting and ending date of your working experience(ex: YY-MM-DD to YY-MM-DD)</p>
            <input type="text" name="Experiences[@i]" value="@Model.Experiences[i].Date" class="border-primary Multi-Experience"/>


        }
    </div>
    <button type="button" onclick="addExperience()">Add Experience</button>

                                                                                         @*Certificates*@
    <h3>@ViewBag.CertificatesHLine</h3> 
    <div class="Certificates-Container">
        @for (int i = 0; i < @Model.Certificates.Count; i++)
        {
            <p class="mb-0">Add certificate</p>
            <input type="text" name="Certificates[@i]" value="@Model.Certificates[i]" class="border-primary Multi-Certificates"/>
        }
        
    </div>
    <button type="button" onclick="addCertificate()">Add Certificate</button>
    
                                                                                         @*PersonalCharacteristics*@
    <h3>@ViewBag.PersonalCharacteristicsHLine</h3> 
    <div class="PersonalCharacteristics-Container">
        @for (int i = 0; i < @Model.PersonalCharacteristics.Count; i++)
        {
            <p class="mb-0">Add Personal Characteristics</p>
            <input type="text" name="PersonalCharacteristics[@i]" value="@Model.PersonalCharacteristics[i]" class="border-primary Multi-PersonalCharacteristics"/>
        }
        
    </div>
                                                                                             @*ImageFile*@
    <h3>@ViewBag.PersonalCharacteristicsHLine</h3> 
    <div>
        <label>Cv Image</label>
        <input asp-for="ImageFile" type="file" accept="image/*"/>
    </div>
    <button type="button" onclick="addPersonalCharacteristic()">Add Personal Characteristic</button>

























    <button type="submit" class="btn btn-primary">Create Cv</button>                           @*Button*@

</form>