@model CVBuddy.Models.CVInfo.Cv

<h1 class="mb-4">@ViewBag.Headline</h1>
<h2>@ViewBag.HeadlineExperiences</h2>
<h2>@ViewBag.HeadlineEducation</h2>
<h2>@ViewBag.HeadlineSkill</h2>
<h2>@ViewBag.HeadlineCertificates</h2>
<h2>@ViewBag.HeadlinePersonalCharacteristics</h2>
<h2>@ViewBag.HeadlineInterest</h2>