@model CVBuddy.Models.CVInfo.Cv
<a asp-controller="Home" asp-action="Index">Back to Home</a>
<a asp-controller="Home" asp-action="Index">Message this Person</a>
<h1 class="mb-4">@ViewBag.Headline - @Model.OneUser.UserName</h1>
<h2>@ViewBag.HeadlineExperiences</h2>
<h2>@ViewBag.HeadlineEducation</h2>
<h2>@ViewBag.HeadlineSkill</h2>
<h2>@ViewBag.HeadlineCertificates</h2>
<h2>@ViewBag.HeadlinePersonalCharacteristics</h2>
<h2>@ViewBag.HeadlineInterest</h2>