@model CVBuddy.Models.CVInfo.Cv

<h1>@ViewBag.Headline</h1>

<form asp-action="UpdateCv" method="post" enctype="multipart/form-data">
    
    <h3>@ViewBag.HeadlineImage</h3>
    <div class="mb-4">
        <div class="mb-2">
            Image: <input asp-for="ImageFile" type="file" accept="CvImages/*" />

        </div>
    </div>


    <h3>@ViewBag.HeadlineExperiences</h3>                                                        @* Experiences *@
    <div class="mb-4">
        @foreach (var experience in Model.Experiences)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Title: <input asp-for="@experience.Title" type="text" value="@experience.Title" />
                </div>
                <div class="mb-2">
                    Company: <input asp-for="@experience.Description" type="text" value="@(experience.Description ?? "")" /> @* string som är nullable, kolla om dem får tom stäng automatiskt eller om dem behöver manuellt *@

                </div>
                <div class="mb-2">
                    Description: <input asp-for="@experience.Company" type="text" value="@experience.Company" />
                </div>
                <div class="mb-2">
                    Start date: <input asp-for="@experience.StartDate" type="date" value="@experience.StartDate" /> @* DATE VALUE FUNKAR EJ *@
                </div>
                <div class="mb-2">
                    End date: <input asp-for="@experience.EndDate" type="date" value="@experience.EndDate" />
                </div>
            </div>
        }
    </div>


    <h3>@ViewBag.HeadlineEducation</h3>                                                          @* Education *@
    <div class="mb-4">

        <div class="mb-4">
            <p class="mb-1 mt-3"><b>High School</b> - Can be left empty</p>
            <div class="mb-2">
                High School: <input asp-for="@Model.Education.HighSchool" type="text" value="@Model.Education.HighSchool" />
            </div>
            <div class="mb-2">
                Program: <input asp-for="@Model.Education.HSProgram" type="text" value="@Model.Education.HSProgram" />
            </div>
            <div class="mb-2">
                Date: <input asp-for="@Model.Education.HSDate" type="text" value="@Model.Education.HSDate" />
            </div>
        </div>


        <div class="mb-4">
            <p class="mb-1 mt-3"><b>University</b> - Can be left empty</p>
            <div class="mb-2">
                University: <input asp-for="@Model.Education.Univeristy" type="text" value="@Model.Education.Univeristy" />
            </div>
            <div class="mb-2">
                Program: <input asp-for="@Model.Education.UniProgram" type="text" value="@Model.Education.UniProgram" />
            </div>
            <div class="mb-2">
                Date: <input asp-for="@Model.Education.UniDate" type="date" value="@Model.Education.UniDate" />
            </div>
        </div>
    </div>


    <h3>@ViewBag.HeadlineSkill</h3>                                                              @* Skill *@
    <div class="mb-4">
        @foreach (var skill in Model.Skills)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Skill: <input asp-for="@skill.ASkill" type="text" value="@skill.ASkill" />
                </div>
                <div class="mb-2">
                    Description: <input asp-for="@skill.Description" type="text" value="@(skill.Description ?? "")" />
                </div>
                <div class="mb-2">
                    Skill Since: <input asp-for="@skill.Date" type="date" value="@skill.Date" />
                </div>
            </div>
        }
    </div>
    <h3>@ViewBag.HeadlineCertificates</h3>                                                       @* Certificates *@
    <div class="mb-4">
        @foreach (var certificate in Model.Certificates)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Cerificate: <input asp-for="@certificate.CertName" type="text" value="@certificate.CertName" />
                </div>
            </div>
        }
    </div>
    <h3>@ViewBag.HeadlinePersonalCharacteristics</h3>                                            @* PersonalCharacteristics *@
    <div class="mb-4">
        @foreach (var personalCharacteristic in Model.PersonalCharacteristics)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Personal Characteristic: <input asp-for="@personalCharacteristic.CharacteristicName" type="text" value="@personalCharacteristic.CharacteristicName" />
                </div>
            </div>
        }
    </div>
    <h3>@ViewBag.HeadlineInterest</h3>                                                           @* Interest *@
    <div class="mb-4">
        @for (int i = 0; i < Model.Interests.Count; i++)
        {
            <input type="hidden" asp-for="Interests[i].InterestId" /> @* Måste finnas med för att dem ska finnas i Modelstate vid Post, syns ej i sidan *@
            <input type="hidden" asp-for="Interests[i].CvId" />
            <div class="mb-4">
                <div class="mb-2">
                    Interest: <input asp-for="Interests[i].InterestName" type="text" value="@Model.Interests[i].InterestName" />
                </div>
            </div>
        }
    </div>
    @* <div class="mb-4">
        @foreach (var interest in Model.Interests)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Cerificate: <input asp-for="@interest.InterestName" type="text" value="@interest.InterestName" />
                </div>
            </div>
        }
    </div> *@
    <h3>@ViewBag.HeadlineProjects</h3>                                                           @* Projects *@
    <div class="mb-4">
        @foreach (var cvProjects in Model.CvProjects)
        {
            <div class="mb-4">
                <div class="mb-2">
                    Title: <input asp-for="@cvProjects.OneProject.Title" type="text" value="@cvProjects.OneProject.Title" />
                </div>
                <div class="mb-2">
                    Description: <input asp-for="@cvProjects.OneProject.Description" type="text" value="@(cvProjects.OneProject.Description ?? "")" />
                </div>
                <div class="mb-2">
                    Start Date: <input asp-for="@cvProjects.OneProject.StartDate" type="date" value="@cvProjects.OneProject.Title" />
                </div>
                <div class="mb-2">
                    End Date: <input asp-for="@cvProjects.OneProject.Enddate" type="date" value="@cvProjects.OneProject.Title" />
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

